/* override table width restrictions */
@media screen and (min-width: 767px) {

 .wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

 .wy-table-responsive {
    overflow: visible !important;
  }

}

/* Remove the extra horizontal white space on the right side */
 .wy-nav-content {
   max-width:100% !important;
   background-color:#fff;
  }

 .wy-nav-content-wrap {
  background-color:#fff !important;
 }

 /* Removing the bitbucket URL in the header */

li.wy-breadcrumbs-aside {display:none;}

/* Removing the AD in the TOC and page*/

.ethical-rtd {display:none!important;}


/* Adding the CSS Overrides for Different Font Color Headings */

body {
    font-family: Helvetica Neue, Helvetica, Sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: Helvetica Neue, Helvetica, Sans-Serif;
    font-weight: 400;
    color: #2FBCD4;
}

h1 {
    font-size: 250%;
    font-weight: 200;
}

h4 {
    font-size: 100%;
}

.rst-versions, .version {
    display: none;
}

.wy-nav-side, .wy-side-nav-search {
    background: #096da9;
}

.wy-nav-side {
    padding-bottom: 1em;
}

.wy-menu-vertical li a {
    color: #fff;
}

.wy-menu-vertical a:hover {
    background: rgba(1,1,1,.08);
}

.wy-menu-vertical li.current {
    background: #fcfcfc;
}

.wy-menu-vertical li.current a {
    color: #666;
    border: none;
    border-right: 1px solid #c9c9c9;
}

.wy-menu-vertical li.toctree-l2.current>a {
    color: #2FBCD4;
    background: #e8e8e8;
}

.wy-menu-vertical li.toctree-l2.current a:hover {
    background: rgba(1,1,1,.1);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 a {
    background: #e8e8e8;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 a:hover {
    background: rgba(1,1,1,.1);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current a {
    color: #2FBCD4;
    background: #e8e8e8 ;
}

 /* Search Display Setting */
#search-results li span { display: none; }


/* Make Copy Button Bigger */
a.copybtn

{ padding:0!important; width:1em!important; }
