{%- extends "basic/layout.html" %}

{%- block extrahead %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
{%- endblock %}

{# The following block is used for the responsive header. #}
{%- block relbar1 %}
    <header class="top-bar">
        <div class="top-bar-div">
            <span class="telephone">&#9742; 855-HADOOP-HELP</span>
            <div class="top-bar-links">
                <a class="top-bar-link" href="https://qubole.zendesk.com/">Support</a>
                <a class="top-bar-link" href="http://www.qubole.com/blog/">Blog</a>
                <a class="top-bar-link" href="https://api.qubole.com/">Login</a>
            </div>
        </div>
    </header>
    <header class="site-header">
        <div class="wrap">
            {%- if logo %}
                <a class="site-title" href="http://www.qubole.com">
                    <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
                </a>
            {%- endif %}
            <!--
            <nav class="site-nav">
                <a href="#" class="menu-icon">&#9776</a>
                <div class="trigger">
                    <a class="page-link" href="http://www.qubole.com/features/">Features</a>
                    <a class="page-link" href="http://www.qubole.com/pricing/">Pricing</a>
                    <a class="page-link" href="http://www.qubole.com/customer/">Customers</a>
                    <a class="page-link" href="http://www.qubole.com/resources/">Resources</a>
                    <a class="page-link" href="http://www.qubole.com/company/about-us/">About Us</a>
                    <a class="page-link" id="sign-up" href="https://api.qubole.com/users/sign_up">Sign Up for Free</a>
                </div>
            </nav>
            -->
        </div>
    </header>
{%- endblock %}

{# We don't want a relbar at the bottom of every page. #}
{%- block relbar2 %}{%- endblock %}

{# There is a logo in the header, so need for logo in the sidebar. #}
{%- block sidebarlogo %}{%- endblock %}

{%- block footer %}
    <div class="footer">
        {%- if show_copyright %}
            &copy; Copyright {{ copyright }}.
        {%- endif %}
    </div>
{%- endblock %}
