<h3><a href="{{ pathto(master_doc) }}">{{ _('Table Of Contents') }}</a></h3>
    {% set toctree = toctree(maxdepth=4, includehidden=True) %}
    {% if toctree %}
        {{ toctree }}
    {% else %}
        {{ toc }}
    {% endif %}
