{%- extends "layout.html" %}
{%- block body %}
    {{ body }}
    {%- if next or prev %}
        <div class="navigation-buttons">
            {%- if prev %}
                <a href="{{ prev.link|e }}" class="previous-button" title="{{ prev.title|striptags|e }}">Previous</a>
            {%- endif %}
            {%- if next %}
                <a href="{{ next.link|e }}" class="next-button" title="{{ next.title|striptags|e }}"/>Next</a>
            {%- endif %}
        </div>
    {%- endif %}
{%- endblock %}
