{# This searchbox is a little different from the searchbox provided by basic theme. #}
{%- if pagename != "search" and builder != "singlehtml" %}
<div id="searchbox" style="display: none">
    <h3>{{ _('Search docs') }}</h3>
    <form class="search" action="{{ pathto('search') }}" method="get">
        <input type="text" name="q" />
        <input type="submit" value="{{ _('Go') }}" />
        <input type="hidden" name="check_keywords" value="yes" />
        <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
{%- endif %}
